$bgCol: #FDF6E3; //#ddc; //#08c;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgCol;
    background-image: image-url('img/noise.png');
    overflow: hidden;
}

.stats {
    position: fixed;
    top: 0;
    left: 0;
}

