$bgCol: #FDF6E3; //#ddc; //#08c;

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background-color: $bgCol;
    background-image: image-url('img/noise.png');
    overflow: hidden;
}

.stats {
    position: fixed;
    top: 0;
    left: 0;
}

#toroidy-reset {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 10;
}

.toroidy-action {
    font-family: Courier, monospace;
    font-size: 15px;
    line-height: 18px;
    padding: 8px;
    margin: 0;
    background-color: #555;
    color: #fff;
    cursor: pointer;
    opacity: 0.5;
    &:hover {
        opacity: 0.9;
    }
    -webkit-appearance: none;
    border: 0;
    border-radius: 1px;
    outline: none;
    text-transform: uppercase;
}

